@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular Weight */
@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/NeueMachina-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Ultrabold Weight */
@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/NeueMachina-Ultrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Light Weight */
@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/NeueMachina-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

.fade {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.hidden {
  opacity: 0;
}

.blend-overlay {
  mix-blend-mode: darken;
}